* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
a.links {
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
a.links:hover {
  font-weight: 700;
}
.errormsg_general {
  color: red;
  font-size: 0.9em;
  line-height: 0.8em;
  margin: 0;
  padding: 0;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {
  background-color: #ececec;
  margin: 0;
  padding: 0;
}
#sidebar {
  width: 20vw;
  height: 100vh;
  background-color: rgb(92,144,168);
  margin: 0;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1vh 1.5vw;
}
  #sidebar img {
    width: 40%;
    margin-left: 25%;
  }
  #sidebar_stuff {
    margin-top: 2vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #sidebar a.category {
    color: #ececec;
    text-decoration: none;
    display: block;
    width: 120%;
    font-size: 1em;
    margin-left: -2.5vh;
    padding-left: 2.5vh;
  }
  #sidebar a.category:hover {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.1);
  }
  #sidebar .current_cat {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.1);
  }
    #sidebar #char-indicator {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 20vw;
      background-color: rgba(255,255,255,0.1);
      padding: 4vh 1vw 4vh 1vw;
      color: #ececec;
    }
    #sidebar #char-indicator:hover span#avatar {
      box-shadow: 0px 0px 15px 1px #ececec;
    }
      #sidebar #char-indicator span#avatar {
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        float: left;
        background-repeat: no-repeat;
        background-size: cover;
      }
      #sidebar #char-indicator #char-info {
        float: left;
        padding-left: 0.75vw;
        margin-top: -0.2vh;
        font-size: 1em;
        line-height: 1.75em;
      }
      #sidebar #char-indicator #char-info a {
        color: #ececec;
        text-decoration: none;
      }
      #sidebar #char-indicator input {
        background-color: rgba(255, 0, 0, 0);
        border: none;
        font-size: 1em;
        line-height: 1.75em;
        padding: 0;
        color: #ececec;
      }
      #sidebar #char-indicator input:hover {
        font-weight: 700;
      }
#maincontent {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  margin-left: 20vw;
  overflow: scroll;
}
div#left-side {
  width: 20vw;
  height: 100vh;
  float: left;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 80vw;
  margin: 0;
}
  #sort {
    margin-top: -15px;
    padding-left: 20%;
    min-width: 30em;
    height: 2.1em;
    transform: rotate(90deg);
    transform-origin: 8.4% -25%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
    #sort button {
      color: #ececec;
      border: none;
      background-color: rgb(92, 144, 168);
      font-size: 1.2em;
      border-top-right-radius: 0.5em;
      border-top-left-radius: 0.5em;
      padding: 0.5vh 2vw 0.25vh 2vw;
    }
    #sort button:hover {
      font-weight: 700;
      padding: 0.5vh 1.93vw 0.25vh 1.95vw;
    }
  #newpost {
    width: 6vw;
    height: 6vw;
    background-image: url(../img/new_post_blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 5vh;
    right: 6.5vw;
    padding: 4.4vh 2.15vh;
  }
    #newpost:hover::after {
      content: 'nytt inlägg';
      font-size: 1em;
      color: #ececec;
      font-weight: 700;
    }

/* admin page */
.admin_page_main {
  background-color: rgba(92, 144, 168, 0.5);
  padding: 0;
}
.admin_list {
  width: 102%;
  margin: 0 -2px;
}
.admin_list tr:nth-child(even) {
  background-color: rgba(255,255,255,0.4);
}
.admin_list td,
.admin_list th {
  font-size: 0.8em;
  height: 2em;
  padding: 0.2em;
  padding-left: 0.4em;
}
.admin_list input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1em;
}
.admin_list input:hover {
 font-weight: 700;
 padding: 0.1em 0.3em;
}
.admin_list input.last_col {
  margin-right: -20px;
}
#admin_categories {
  width: 45%;
}
#new_cat_text {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  width: 68%;
  float:left;
  height: 20px;
}
#new_cat_submit {
  width: 30%;
  float: right;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: rgb(92, 144, 168);
  font-weight: 700;
  font-size: 0.8em;
  height: 20px;
}
