* {
  font-family: 'Nunito', sans-serif;
}

div.printed-post-frame {
width: 60vw;
display: inline-block;
padding: 3vh 2vw;
position: relative;
min-height: 140px;
color: #000;
}
div.printed-post-frame:nth-child(even) {
background-color: rgba(92,144,168,0.4);
}
div.printed-post-frame:nth-child(odd) {
background-color: rgba(92,144,168,0.5);
}
.post-left {
  float: left;
  width: 85%;
  color: #000;
}
a.post-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
  h2.printed-post-title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 2vh;
    max-width: 85%;
  }
   p.printed-post-content {
    font-size: 0.8em;
    margin: 0;
    position: absolute;
    top: 6.5vh;
    max-width: 85%;
  }
.post-right {
  float: right;
}
  .post-right .upvote,
  .post-right .downvote {
    display: block;
    width: 2vw;
    height: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .post-right .upvote {
    background-image: url(../img/upvote.png);
    position: absolute;
    top: 2.5vh;
    right: 1.5vw;
  }
    .post-right .upvote:hover {
      background-image: url(../img/upvote_blue.png);
    }
  .post-right .downvote {
    background-image: url(../img/downvote.png);
    position: absolute;
    bottom: 0vh;
    right: 1.5vw;
  }
    .post-right .downvote:hover {
      background-image: url(../img/downvote_blue.png);
    }
  .post-right .post_rating {
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: #ececec;
    position: absolute;
    bottom: 45%;
    right: 1.4vw;
    font-family: monospace;
  }
.post-info {
  font-size: 0.75em;
  font-weight: 300;
  position: absolute;
  left: 2vw;
  bottom: 1.75vh;
  line-height: 1em;
}
  span.divider {
    padding: 0 0.25em;
  }
  span.comment_symbol,
  span.view_symbol {
    width: 1em;
    height: 1em;
    margin-bottom: -0.2em;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
  span.comment_symbol {
    background-image: url(../img/com_symbol_blk.png);
  }
  span.view_symbol {
    background-image: url(../img/views.png);
  }
  a.author {
    text-decoration: none;
    color: #000;
  }

/*/ write posts /*/


div#write_post {
  width: 60vw;
  height: 100vh;
  position: fixed;
  left: 20vw;
  top: 0;
  background-color: rgba(92,144,168,0.5);
}
div#write_post #msg_container {
  margin: 10% 25% 0 25%;
  color: red;
  text-align: center;
}
div#write_post #msg_container .success {
  color: #ececec;
  display: inline;
  font-size: 18px;
}
div#write_post #msg_container a {
  color: #ececec;
  display: inline;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
div#write_post form {
  width: 60vw;
  height: 60vh;
}
div#write_post label {
  font-size: 1.1em;
  width: 30%;
  display: inline-block;
  text-align: right;
  font-weight: 700;
  margin-left: -5vw;
}
div#write_post input {
  width: 50%;
  height: 3em;
  border-radius: 5px;
  margin: 10px;
  border: none;
  background-color: #ececec;
}
div#write_post textarea {
  width: 50%;
  height: 15em;
  border-radius: 5px;
  margin: 10px;
  border: none;
  background-color: #ececec;
}
div#write_post #cancel-submit-container  {
  position: absolute;
  bottom: 10%;
  left: 40%;
  font-size: 20px;
  color: #ececec;
  font-weight: 700;
}
#cancel_container,
#submit_container {
  position: relative;
  width: 30%;
}
#cancel_container #cancel_caption {
  position: absolute;
  left: -110px;
  bottom: 20px;
  transition: opacity 0.5s ease-in;
}
#cancel_container button {
  right: 0;
  bottom: 0;
}
#submit_container #submit_caption {
  position: absolute;
  right: -125px;
  bottom: 20px;
  transition: opacity 0.5s ease-in;
}
#cancel_caption, #submit_caption {
  opacity: 0;
}
#cancel_post:hover + #cancel_caption,
#submit_post:hover + #submit_caption {
  opacity: 1;
}
div#write_post #submit_post {
  width: 60px;
  height: 50px;
  background-image: url(../img/submit.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
}
div#write_post #submit_post:hover {
    background-image: url(../img/submit_bl.png);
}
div#write_post #cancel_post {
  width: 45px;
  height: 50px;
  background-image: url(../img/close.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-position: bottom;
  display: inline-block;
  border: none;
}
div#write_post #cancel_post:hover {
    background-image: url(../img/close_bl.png);
}

.write-comment {
  margin-top: 5px;
  width: 100%;
  height: 150px;
  padding-bottom: 25.5px;
  border: 1px solid rgba(92,144,168,0.2);
  border-bottom: 6px solid #ececed;
  background-color: rgba(92,144,168,0.2);

}
.write-comment-field {
  height: 100%;
  width: 100%;
}
.write-comment-submit {
  float: right;
}
